*.opensdf
DataComm.sdf
*.tlog
*.suo
DataComm/Debug/ComReceiver.obj
*.manifest
DataComm/Debug/DataComm.exe.embed.manifest.res
*.lastbuildstate
DataComm/Debug/DataComm.log
*.obj
DataComm/Debug/DataComm.pch
*.cache
DataComm/Debug/DataComm_manifest.rc
*.idb
DataComm/Debug/vc100.pdb
*.exe
Debug/DataComm.ilk
*.pdb
ipch/datacomm-1a15c724/datacomm-fcc107d2.ipch
*.suo
DataComm.suo
*.suo